.loader {
  width: 22px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ddd;
  transform-origin: top;
  display: grid;
  animation: l3-0 1s infinite linear;
}

@media (min-width: 640px) {
  .loader {
      width: 30px;
  }
}

@media (min-width: 940px) {
  .loader {
      width: 35px;
  }
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: #fff;
  border-radius: 50%;
  transform-origin: top;
  animation: inherit;
  animation-name: l3-1;
}

.loader::after {
  background: #eee;
  --s: 180deg;
}

@keyframes l3-0 {

  0%,
  20% {
      transform: rotate(0)
  }

  100% {
      transform: rotate(360deg)
  }
}

@keyframes l3-1 {
  50% {
      transform: rotate(var(--s, 90deg))
  }

  100% {
      transform: rotate(0)
  }
}