@import "tailwindcss";





* {
    font-family: var(--font-Inter);
}

body {
    color: #030712;
    background-color: #fff;
}

.container {
    padding: 0 12px;
}

@media (min-width: 640px) {
    .container {
        padding: 0 16px;
    }
}

.header_link.active {
    border-color: #0037ff;
}